/* Fontes e variáveis */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './bootstrap.min.scss';


@import './variaveis.scss';
/* RESET */
*{
  font-size: 'Roboto', sans-serif;
}
body{
    color: $cor-secundaria;
  }
  a{
    text-decoration: none !important;
  }
  h1, h2, h3{
    font-weight: bold;
  }
.fb-root{
margin: 30px 0;
}
  
  /* END RESET */

/* Components */
@import './header.scss';
/* Bootstrap */
@import './nav.scss';
@import './banners.scss';
/* Estrelas estão em produtos. */
@import './produtos.scss';
@import './footer.scss';
@import './responsive.scss';
@import './breadcrumbs.scss';
/* Página principal de compra de produto */
@import './compra.scss';
